doctype html
html
    head
        title Cleasby-Vigfusson Old Icelandic Dictionary
        link( type='text/css', rel='stylesheet', href=('/assets/browse' + sd.CSS_EXT) )
    body
        h1 Browse Pages
        ul#page-list
            include list
        #scripts
            != sharify.script()
            script( src='/assets/commits' + sd.JS_EXT )
